* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* background */
    --base-color-bg: 0;
    --bg-color: hsl(var(--base-color-bg), 0%, 90%);

   /* cor botão padrão */
   --base-color: 240;
   --bg-primary-color: hsl(var(--base-color), 11%, 89%);
   --bg-primary-color-h: hsl(var(--base-color), 11%, 74%);
   --txt-primary-color: hsl(var(--base-color), 6%, 21%);

   --sound-primary-color: hsla(var(--base-color), 6%, 21%, 1);

    /* quando clicado */
    --base-color-s: 194;
    --bg-primary-color-s: hsl(var(--base-color-s), 97%, 31%);
    --bg-primary-color-s-h: hsl(var(--base-color-s), 97%, 26%);
    --base-color-txt-s: 0;
    --txt-primary-color-s: hsl(var(--base-color-txt-s), 0%, 100%);

    font-size: 62.5%;
}

.dark {
    --bg-color: hsl(var(--base-color-bg), 0%, 0%);
    --bg-primary-color: hsl(var(--base-color-bg), 6%, 17%);
    --txt-primary-color: hsl(var(--base-color-txt-s), 0%, 100%);
    --txt-primary-color-s: hsl(var(--base-color-txt-s), 0%, 100%);
    --bg-primary-color-s: hsl(195, 74%, 15%);
    
}

.hide {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.theme {
    position: absolute;
    top: clamp(.4rem, .4rem + 5vw, 6.0rem);
    right: clamp(.4rem, .4rem + 5vw, 6.0rem);
}

.menu {
    grid-area: m;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.timer span {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12.6rem;
    line-height: 14.8rem;
    color: var(--txt-primary-color);


}



.controls {
    display: flex;
    flex-direction: row;
    margin-top: clamp(1.0rem, 1.0rem + 2vw, 4.8rem);
    gap: clamp(1.0rem, 1.0rem + 5vw, 4.0rem);

}

.theme button, 
.controls button {
    background-color: var(--bg-color);
    border: none;
    cursor: pointer;
    
}

.sounds {
    grid-area: s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.0rem;
    border: none;
    width: 13.8rem;
    height: 15.2rem;
    border-radius: 2.4rem;
    
    background-color: var(--bg-primary-color);
}

.stop {
    background-color: var(--bg-primary-color-s);
}

.sounds button {
    border: none;
    cursor: pointer;
    
}

.button-wrapper {
    display: flex;
    flex-direction: row;
}

.sounds .button-wrapper .buttonBox {
    margin: 3.2rem;
}

.menu {
    margin-top: 12.6rem;
}
.sounds {
    margin-top: clamp(1rem, 1rem + 1vw, 4rem);
}

.buttonBox .forest,
.buttonBox .rain,
.buttonBox .fireplace,
.buttonBox .coffe {
    margin-top: .5rem;
    background-color: var(--bg-primary-color);
    border: none;
    
}

.test  {
  appearance: none;
  width: 7.8rem;
  height: .4rem;
  background: var(--txt-primary-color); 
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  border-radius: .5rem;

  margin-top: -2.5rem;
}


.white-theme svg path,
.dark-theme svg path,
.forest svg path,
.rain svg path,
.coffe svg path,
.fireplace svg path,
.play svg path,
.pause svg path,
.add svg path,
.decr svg path,
.stop svg path {
    fill: var(--txt-primary-color);
}

.forest-stop,
.rain-stop,
.coffe-stop,
.fireplace-stop {
    background-color: var(--bg-primary-color-s);
}

.forest-stop svg path,
.rain-stop svg path,
.coffe-stop svg path,
.fireplace-stop svg path {
    fill: var(--txt-primary-color-s);
}

.test::-webkit-slider-thumb {
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    background: var(--txt-primary-color);
    outline: none;
    cursor: pointer;
    border-radius: 5.5rem;
  }

.test-click {
  width: 7.8rem;
  height: .4rem;
  background: var(--txt-primary-color-s); 
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  border-radius: .5rem;

  margin-top: -2.5rem;
}

.test-click::-webkit-slider-thumb {
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    background: var(--txt-primary-color-s);
    cursor: pointer;
    border-radius: 5.5rem;
}

@media (min-width: 520px) {

    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "m s";
        align-items: center;
        background-color: var(--bg-color);
    }

    .menu, 
    .sounds {
    margin-top: 18.6rem;
    }

    .buttonBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.0rem;
        border: none;
        width: 13.8rem;
        height: 15.2rem;
        border-radius: 2.4rem;   
    }

    
}