
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "m s";
}

.menu {
    grid-area: m;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 48px;
}

.sounds {
    grid-area: s;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sounds .button-wrapper button + button {
    margin: 32px;
}

.menu, 
.sounds {
    margin-top: 186px;
}