* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
   /* cor botão padrão */
   --base-color: 240;
   --bg-primary-color: hsl(var(--base-color), 11%, 89%);
   --bg-primary-color-h: hsl(var(--base-color), 11%, 74%);
   --txt-primary-color: hsl(var(--base-color), 6%, 21%);

   --sound-primary-color: hsla(var(--base-color), 6%, 21%, 1);

    /* quando clicado */
    --base-color-s: 194;
    --bg-primary-color-s: hsl(var(--base-color-s), 97%, 31%);
    --bg-primary-color-s-h: hsl(var(--base-color-s), 97%, 26%);
    --base-color-txt-s: 0;
    --txt-primary-color-s: hsl(var(--base-color-txt-s), 0%, 100%);

}


.hide {
    display: none;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "m s";
    align-items: center;
}

.ThemeButtons {
    position: absolute;
    top: 60px;
    right: 60px;
}

.menu {
    grid-area: m;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 126.166px;
    line-height: 148px;
}


.controls {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    gap: 40px;
}

.controls button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.sounds {
    grid-area: s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: none;
    width: 138px;
    height: 152px;
    border-radius: 24px;
    

    background-color: var(--bg-primary-color);
}

.stop {
    background-color: var(--bg-primary-color-s);
}

.sounds button {
    border: none;
    cursor: pointer;
    
}

.button-wrapper {
    display: flex;
    flex-direction: row;
}

.sounds .button-wrapper .buttonBox {
    margin: 32px;
}

.menu, 
.sounds {
    margin-top: 186px;
}

.buttonBox .forest,
.buttonBox .rain,
.buttonBox .fireplace,
.buttonBox .coffe {
    margin-top: 5px;
    background-color: var(--bg-primary-color);
    border: none;
}



.test  {
  appearance: none;
  width: 78px;
  height: 4px;
  background: var(--txt-primary-color); 
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  border-radius: 5px;

  margin-top: -25px;
}

.test::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--txt-primary-color);
    outline: none;
    cursor: pointer;
    border-radius: 55px;
  }

.test-click {
    appearance: none;
    width: 98px;
    height: 4px;
    background: var(--txt-primary-color-s); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    border-radius: 5px;
}

.test-click::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--txt-primary-color-s);
    cursor: pointer;
    border-radius: 55px;
}

.forest svg path,
.rain svg path,
.coffe svg path,
.fireplace svg path {
    
    fill: var(--txt-primary-color);
}

.forest-stop,
.rain-stop,
.coffe-stop,
.fireplace-stop {
    background-color: var(--bg-primary-color-s);
}

.forest-stop:hover,
.rain-stop:hover,
.coffe-stop:hover,
.fireplace-stop:hover {
    background-color: var(--bg-primary-color-s-h);
}

.forest-stop svg path,
.rain-stop svg path,
.coffe-stop svg path,
.fireplace-stop svg path {
    fill: var(--txt-primary-color-s);
}
