:root {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #190361, #bb00ff);
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
    background-attachment: fixed;

    display: grid;
    place-items: center;

    height: 100vh;
}

/* screen 1 */
.screen1 {
    width: 42.8rem;
    height: 42.4rem;
    background: #FFFFFF;

    box-shadow: .0rem 2.0rem 5.0rem rgba(0, 0, 0, 0.8);
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 6.4rem;

    margin-top: -12rem;

    
}

.screen1 h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #34355B;
}

.screen1 p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 2.0rem;
    margin-bottom: 3.0rem;
    
    border: none;
}

.btn {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.top {
   margin-top: -2.0rem;
   animation: downtop 700ms;
}

.down {
    margin-top: 2.0rem;
    animation: centerLeft 400ms;
}

.downCenter {
    margin: 1.5rem 0px 0px 0px;
}

.downCenterLeft {
    margin-top: 1.5rem;
    margin-right: 9.5rem;
    animation: downtop 700ms;
}

.toTop {
    margin-top: -2.0rem;
}

.topleft {
    margin-top: -2.0rem;
    margin-right: 9.5rem;
    animation: toright 700ms;
}

.topCenter {
    margin-top: -2.0rem;
    margin-right: -4.0rem;
    animation: toright 700ms;
}

.topRight {
    margin-top: -2.0rem;
    margin-right: -1.5rem;
    animation: topdown 700ms;
}

.rightleftCenter {
    margin-left: 1.5rem;
    animation: toleft 700ms;
}

.centerLeft {
    animation: toleft 700ms;
}

.leftTop {
    margin-left: -5.5rem;
    animation: downtop 700ms;
}


.hide {
    display: none;
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes downtop {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(-1.5rem);
    }
}

@keyframes topdown {
    0% {
        opacity: 1;
        transform: translateY(-1.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes toright {
    0% {
        opacity: 1;
        transform: translateX(-2.5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toleft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(-1.5rem);
    }
}

/* screen 2 */
.screen2 {
    width: 42.8rem;
    height: 56.4rem;
    padding: 4.8rem 6.4rem;
    
    background-color: #FFFFFF;
    box-shadow: .0rem 2.0rem 5.0rem rgba(0, 0, 0, 0.8);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    text-align: center;

    position: relative;

    

}

.screen2 .msg {
    display: flex;
    flex-direction: column;

    align-items: center;

    position: relative;
}

.screen2 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.9rem;
    text-align: center;
}

.box {
    padding: 1.0rem;
    gap: 1.0rem;
    width: 29.3rem;
    height: 10.7rem;

    margin-top: 1.7rem;

    background-color: #E4EDF1;
    box-shadow: .2rem .2rem .2rem rgba(85, 85, 85, 0.5);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box2 {
    padding: 1.0rem;
    gap: 1.0rem;
    width: 5.3rem;
    height: 5.7rem;
    margin-right: 2.4rem;
    margin-top: 12.7rem;

    background-color: #E4EDF1;
    box-shadow: .2rem .2rem .2rem rgba(85, 85, 85, 0.5);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     
    animation: downtopMsg 2.5s;
}

.screen2 p {
    font-family: 'Dancing Script', sans-serif;
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.hide-absolute {
    display: none;
    position: absolute;
}

.screen2 button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.6rem;
    gap: 1.0rem;

    width: 17.4rem;
    height: 5.2rem;
    margin-top: 1.7rem;
    background-color: #FF9500;
    border-radius: .4rem;

    font-family: 'DM Sans';
    font-size: bold;
    font-size: 1.5rem;
    line-height: 2.0rem;
    color: white;

    border: none;
}

@keyframes downtopMsg {
    0% {
        opacity: 0;
        transform: translateY();
        
    }

    100% {
        opacity: 1;
        transform: translateY(-2.1rem);
    }
}

